@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Outfit:wght@700&display=swap');
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

* {
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    list-style-type: none;
}


.content {
    height: 300px;
    max-width: 100%;
    background-size: cover;
}


.stretch {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    margin-right: auto;
    margin-right: auto;
}

.my-8{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.compact {
    width: 600px;
}

.aboutme{
    max-height: 400px;
    
}

.sm-icon{
    height: 3rem;
    width: 3rem;
}

.mb-7{
    margin-bottom: 8rem;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}

.control {
    height: 350px;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

img.content-img, .control{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
img.content-img, .control, .start{
  height: 75vh;
   
}


img.content-img{
    height: 300px;
}

div .card{
    border:0px;
    border-radius: 0px;
   
}


div .card .subtitle {
    position: absolute;
    transition: 0.5s;
    color: transparent;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0)
}
 div.col-lg-6{
     margin-left: 1rem;
     margin-right: 1rem;
 }
div .card:hover .subtitle {
    transition: 0.5s;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5)
}

.row{
    --bs-gutter-x: 0rem;
}

.carousel-item {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.imgcrop {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}